<h1>Listing Questions</h1>
<h3><%= link_to 'New question', new_test_question_path %></h3>
<table border="1" cellpadding="7" cellspacing="0">
  <tr>
    <th>Text</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
