<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<h2 class= <%= h2_class %> >
  Your result is <%= percent(@test_passage) %> %.<br>
  <%= show_result %>
</h2>

<%= link_to 'Back to all tests', tests_path %>
