<p>
  <h4><%= link_to t('.gists_list'), admin_gists_path %></h4>
</p>
<p>
  <h4><%= link_to t('.badges_list'), admin_badges_path %></h4>
</p>

<h1><%= t('.header') %></h1>

<p>
  <h3><%= link_to t('.new_test'), new_admin_test_path %></h3>
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="js-sort-by-title pointer">
        <%= t('helpers.label.test.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('helpers.label.test.level') %></th>
      <th><%= t('tests.questions_number') %></th>
      <th> Timer </th>
      <th colspan="4"><%= t('tests.actions') %></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>
