<p>
  <%= t('helpers.label.test.title') %> : <%= @test.title %>
</p>
<p>
  <%= t('helpers.label.test.level') %>: <%= test_level(@test) %>
</p>
<% if @test.timer %>
  <p>
    Timer: <%= human_timer(@test) %>
  </p>
<% end %>

<h2><%= t('.questions') %></h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
  <%#= render partial: 'questions/question', collection: @test.questions %>
</ol>

<%= link_to t('.edit_test'), edit_admin_test_path %> |
<%= link_to t('shared.back'), admin_tests_path %>




<!--

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @test.questions.map { |question| question.body} %>
</p>
