<h3><%= link_to 'New question', new_test_question_path(@test) %></h3>

<table border="1" cellpadding="20" cellspacing="0">
<tr>
<td>Title:</td>
<td colspan="3"> <%= @test.title %> </td>
</tr>
<tr>
<td>Level:</td>
<td colspan="3"> <%= test_level(@test) %> </td>
</tr>
<tr>
<td rowspan="0">Questions:</td>
<td>
    <ol>
      <% @test.questions.each do |question| %>
        <li><%= link_to "#{question.body}", question_path(question) %></li>
      <% end %>
    </ol>
</td>
</tr>

</table>

<h4><%= link_to 'Back', tests_path %></h4>



<!-- 

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @test.questions.map { |question| question.body} %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
 -->
