<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user"><%= t('welcome_html', name: current_user.first_name) %></p> |
        <%= link_to root_path do %>
            <li>Test-Guru</li>
          <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <li><%= t('logout') %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
  </body>

  <footer class="footer">
    <br><br><br>

    <%= current_year %><br>
    <%= t('about_program') %><br>

    <nav>
      <ul>
        <li><%= t("author_html", href: link_to(t("author_href"), github_url('Avanera', 'test-guru-project'), target: :blank)) %> </li>
        <li><%= t('thinknetica_html', href: link_to(t('thinknetica_href'),'http://thinknetica.com/', target: :blank)) %></li>

      </ul>
    </nav>

  </footer>

</html>
