<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
      <ul class="menu">
        <%= link_to root_path do %>
            <li>Test-Guru</li>
          <% end %>
        <%= link_to logout_path, method: "delete" do %>
          <li>Log out</li>
        <% end %>
      </ul>
    <% else %>
      <ul class="menu">
        <%= link_to login_path do %>
          <li>Log in</li>
        <% end %>
        <%= link_to signup_path do %>
          <li>Sign up</li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>

  <footer class="footer">
    <br><br><br>

    <%= current_year %><br>
    Test-Guru is a program for passing tests.<br>

    <nav>
      <ul>
        <li><%= link_to 'Test-Guru Project', github_url('Avanera', 'test-guru-project'), target: :_blank %> by Arina Zaitseva</li>
        <li>Учебный проект в онлайн-школе <%= link_to "Thinknetica", 'http://thinknetica.com/', target: :_blank %></li>
      </ul>
    </nav>

  </footer>

</html>
