<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devise-width, initial-cale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <br><br><br>

    <%= current_year %><br>
    <%= t('about_program') %><br>

    <nav>
      <ul>
        <li><%= t("author_html", href: link_to(t("author_href"), github_url('Avanera', 'test-guru-project'), target: :blank)) %> </li>
        <li><%= t('thinknetica_html', href: link_to(t('thinknetica_href'),'http://thinknetica.com/', target: :blank)) %></li>

      </ul>
    </nav>

  </footer>

</html>
